<div class="twino-profile">
    <h1>Profile</h1>
    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>{{client.name}}</td>
            <td>
                <a ng-click="changeField('name')">Change</a>
                <div class="form-group" ng-show="fieldsChanging.name">
                    <input name="name" ng-model="client.name" class="form-control" />
                    <a class="btn btn-sm btn-primary" ng-click="saveField('name')">Save</a>
                    <a class="btn btn-sm btn-default" ng-click="cancelNameChange('name')">Cancel</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>{{client.phoneNumber}}</td>
            <td>
                <a ng-click="changeField('phoneNumber')">Change</a>
                <div class="form-group" ng-show="fieldsChanging.phoneNumber">
                    <input name="name" ng-model="client.phoneNumber" class="form-control" />
                    <a class="btn btn-sm btn-primary" ng-click="saveField('phoneNumber')">Save</a>
                    <a class="btn btn-sm btn-default" ng-click="cancelNameChange('phoneNumber')">Cancel</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Birth Date</td><td>{{client.birthDate}}</td><td><a ng-click="changeBirthDate()">Change</a></td>
        </tr>
        <tr>
            <td>Monthly Salary</td><td>{{client.monthlySalary.amount + ' ' + client.monthlySalary.currency.code}}</td><td><a ng-click="changeMonthlySalary()">Change</a></td>
        </tr>
        <tr>
            <td>Remaining Liabilities</td><td>{{client.remainingLiabilities.amount + ' ' + client.remainingLiabilities.currency.code}}</td><td><a ng-click="changeRemainingLiabilities()">Change</a></td>
        </tr>

    </table>
</div>