.twino-container{
    padding-top: 20px;
}

.twino-content {
    min-height: 600px;
}

.twino-footer{
    border-top: 1px solid #ddd;
    padding-top: 20px;
    font-size: .8em;
    text-align: right;
    margin-bottom: 40px;
}

.twino-container .item-action {
    cursor: pointer;
    color: #282827;
}

.twino-container .twino-date-field{
    background-color: #fff;
    cursor: pointer;
}

.twino-container .validation-error{
    color: #FF3300;
}

.twino-form-error {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #FF3300;
}

.h1 {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}