<div class="twino-signup">
    <h1>Sign Up</h1>

    <form novalidate name="signupForm">

        <div class="form-group"
             ng-class="{'has-error': submitAttempt && !signupForm.name.$valid, 'has-success': submitAttempt && signupForm.name.$valid}">
            <label>Name</label>
            <input class="form-control" type="text" name="name" ng-model="clientData.name" required />
            <ul ng-show="submitAttempt && !signupForm.$valid" class="twino-form-error">
                <li ng-show="signupForm.name.$error.required">Name required</li>
            </ul>
        </div>

        <div class="form-group"
             ng-class="{'has-error': submitAttempt && !signupForm.phoneNumber.$valid, 'has-success': submitAttempt && signupForm.phoneNumber.$valid}">
            <label>Phone Number</label>
            <input class="form-control" type="text" name="phoneNumber" ng-model="clientData.phoneNumber" required />
            <ul ng-show="submitAttempt && !signupForm.$valid" class="twino-form-error">
                <li ng-show="signupForm.phoneNumber.$error.required">Phone Number required</li>
            </ul>
        </div>

        <div class="form-group"
             ng-class="{'has-error': submitAttempt && !signupForm.birthDate.$valid, 'has-success': submitAttempt && signupForm.birthDate.$valid}">
            <label>Birth Date</label>
            <input class="form-control" type="text" name="birthDate" ng-model="clientData.birthDate" required />
            <ul ng-show="submitAttempt && !signupForm.$valid" class="twino-form-error">
                <li ng-show="signupForm.birthDate.$error.required">Birth Date required</li>
            </ul>
        </div>

        <div class="form-group"
             ng-class="{'has-error': submitAttempt && !signupForm.monthlySalary.$valid, 'has-success': submitAttempt && signupForm.monthlySalary.$valid}">
            <label>Monthly Salary</label>
            <input class="form-control" type="text" name="monthlySalary" ng-model="clientData.monthlySalary" required />
            <ul ng-show="submitAttempt && !signupForm.$valid" class="twino-form-error">
                <li ng-show="signupForm.monthlySalary.$error.required">Monthly Salary required</li>
            </ul>
        </div>

        <div class="form-group"
             ng-class="{'has-error': submitAttempt && !signupForm.remainingLiabilities.$valid, 'has-success': submitAttempt && signupForm.remainingLiabilities.$valid}">
            <label>Remaining Liabilities</label>
            <input class="form-control" type="text" name="remainingLiabilities" ng-model="clientData.remainingLiabilities" required />
            <ul ng-show="submitAttempt && !signupForm.$valid" class="twino-form-error">
                <li ng-show="signupForm.remainingLiabilities.$error.required">Remaining Liabilities required</li>
            </ul>
        </div>

        <div class="form-group">
            <input type="submit" ng-click="signup(clientData)" class="btn btn-primary" value="Sign Up">
        </div>
    </form>
</div>