<div class="twino-clients">
    <h1>Clients</h1>

    <table class="table table-striped">
        <tr ng-repeat="client in clients">
            <td>{{client.name}}</td>
            <td>{{client.phoneNumber}}</td>
            <td>{{client.birthDate}}</td>
            <td>{{client.monthlySalary.amount + ' ' + client.monthlySalary.currency.code}}</td>
            <td>{{client.remainingLiabilities.amount + ' ' + client.remainingLiabilities.currency.code}}</td>
        </tr>
    </table>
</div>